<h1 class="page-header">Detalhes da tarefa: {{ task?.title }}</h1>

<form #taskForm="ngForm" *ngIf="task" (ngSubmit)="updateTask()">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="control-label">Título</label>
      <input #title="ngModel" [(ngModel)]="task.title" type="text" class="form-control" [class.is-valid]="title.valid" [class.is-invalid]="title.invalid && title.touched" name="title" id="title" required minlength="3" maxlength="35" required>
      
      <div *ngIf="title.invalid && title.touched" class="invalid-feedback">
        <div *ngIf="title.errors.required">Título Obrigatório</div>
        <div *ngIf="title.errors.minlength">Título deve ter min 3 caracteres</div>
        <div *ngIf="title.errors.maxlength">Título deve ter max 15 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" class="control-label">Prazo de entrega</label>
        <input #deadline="ngModel" [(ngModel)]="task.deadline" type="date" class="form-control" [class.is-valid]="deadline.valid" [class.is-invalid]="deadline.invalid && deadline.touched" name="deadline" id="deadline" required>
      <div class="invalid-feedback">Prazo Inválido.</div>
    </div>

    <div class="form-group col-md-3">
      <label for="done" class="control-label">Status</label>
      <select #done="ngModel" [(ngModel)]="task.done" class="form-control" [class.is-valid]="done.valid" [class.is-invalid]="done.invalid && done.touched" type="text" name="done" id="done" required>
        <option value=""></option>
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{option.text}}</option>
      </select>
      <div class="invalid-feedback">Status Inválido</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição</label>
      <textarea [(ngModel)]="task.description" class="form-control" name="description" id="description" rows="4"></textarea>
    </div>
  </div>

  <button [disabled]="taskForm.invalid" type="submit" class="btn btn-success">Atualizar</button>
  <button class="btn btn-defaut" (click)="goBack()">Voltar</button>
</form>
