<h1 class="page-header">Lista de tarefas</h1>

<div class="well">
  <div class="row">
    <div class="col-md-10">
      <input [(ngModel)]="newTask.title" type="text" class="form-control" placeholder="Digite uma nova tarefa">
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)="createTask()">
        Adicionar Tarefa
      </button>
    </div>
  </div>
</div>

<br/>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Titulo</th>
    <th>Ações</th>
  </thead>

  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
          <i class="fas fa-info-circle"></i> Detalhes
        </a>
        <button class="btn btn-danger" (click)="deleteTask(task)">
          <i class="fas fa-trash"></i> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>