<h1 class="page-header">Lista de tarefas</h1>
<table class="table">
  <thead>
    <th>ID</th>
    <th>Titulo</th>
    <th>Ações</th>
  </thead>

  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
          <i class="fas fa-info-circle"></i> Detalhes
        </a>
        <button class="btn btn-danger">
          <i class="fas fa-trash"></i> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>